body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.left {
    width: 40%;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.right {
    flex: 1;
    background: url('./img/img_login.png') no-repeat center;
    background-size: cover; /* Mantiene la imagen como fondo sin cortarla */
    background-position: center; /* Centra la imagen */
}

.logo {
    margin-bottom: 20px;
}

.logo img {
    width: 200px; 
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.input-container {
    width: 100%;
    max-width: 280px;
    margin-bottom: 15px;
}

.input-container input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #CDCACA;
    border-radius: 5px;
    background-color: #CDCACA;
}

.login-button {
    width: 100%;
    max-width: 280px; 
    padding: 10px;
    background-color: #39810D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 15px; /* Agregado para separar botones */
}

.google-login {
    width: 100%;
    max-width: 280px;
    padding: 10px;
    background-color: #CDCACA;
    color: #757575;
    border: 1px solid #CDCACA;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.google-login img {
    width: 20px;
    margin-right: 15px; /* Ajuste para más separación */
}

/* Ajustes responsivos para mejorar imagen de fondo */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .left, .right {
        width: 100%;
    }

    .right {
        height: 100vh; /* Ajuste para mostrar la imagen de fondo en pantallas pequeñas */
        background-size: contain; /* Cambia a contain para evitar el corte */
    }
}
